# Curso de python analisis de datos.
Profesor: Federico Garay.
___
Alumno: Vicente Monsalve
___
Enlace al curso: [analisis de datos con pandas y python](https://www.udemy.com/course/analisis-de-datos-con-pandas-y-python/)

In [4]:
import pandas as pd
pd.__version__

'2.1.4'

## Acceiendo al csv Ventas por provedor

In [37]:
tabla = pd.read_csv('VentasPorProveedor.csv', delimiter=';', skiprows=5)

En nuestro caso anterior skiprows nos sirve para indicarle a read_csv que tome, desde la fila 5, ya que el csv contiene mugre en esas filas.
## Ver primeros registros del dataframe.

Para poder visualizar los primeros registros del csv, debemos usar el metodo head.

```
// n es la cantidad de lineas que queremos mostrar.
nombre_del_dataframe.head(n)
```
Al omitir n por defecto nos muestra las primeras cinco lineas.

### Ejemplos:

In [42]:
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

In [43]:
tabla.head(40)

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
5,1/1/2016,Trevor Snodgrass,Este,Cerveza,Comestibles,15,"6,00"
6,1/1/2016,Boris Stanford,Norte,Pepinillo,Comestibles,14,"4,20"
7,1/1/2016,Steve Ashton,Oeste,Gorras,Vestimenta,2,"4,20"
8,1/1/2016,Trevor Snodgrass,Este,Pan,Comestibles,12,"4,80"
9,1/1/2016,Sarah Bond,Este,Caramelos,Comestibles,15,"9,00"
10,1/1/2016,Trevor Snodgrass,Sur,Pan,Comestibles,6,"2,40"
11,1/1/2016,Boris Stanford,Oeste,Calcetines,Vestimenta,7,"15,75"
12,1/1/2016,Trevor Snodgrass,Sur,Shorts,Vestimenta,6,"29,40"
13,2/1/2016,Steve Ashton,Este,Detergente,Hogar,7,"17,36"
14,2/1/2016,Boris Stanford,Norte,Sánguche de Queso,Comestibles,8,"12,80"
15,2/1/2016,Desmond Delaney,Oeste,Pepinillo,Comestibles,5,"1,50"
16,2/1/2016,Dustin Gee,Norte,Sandalias,Vestimenta,7,"73,50"
17,2/1/2016,Trevor Snodgrass,Este,Pan,Comestibles,5,"2,00"
18,2/1/2016,Steve Ashton,Este,Cerveza,Comestibles,1,"0,40"
19,2/1/2016,Trevor Snodgrass,Sur,Escoba,Hogar,11,"40,15"
20,2/1/2016,Boris Stanford,Este,Calcetines,Vestimenta,12,"27,00"
21,2/1/2016,Boris Stanford,Oeste,Bufanda,Vestimenta,14,"38,50"
22,2/1/2016,Boris Stanford,Oeste,Sánguche de Queso,Comestibles,2,"3,20"
23,2/1/2016,Sarah Bond,Norte,Bufanda,Vestimenta,4,"11,00"
24,2/1/2016,Steve Ashton,Norte,Sánguche de Queso,Comestibles,10,"16,00"
25,2/1/2016,Boris Stanford,Este,Pan,Comestibles,4,"1,60"
26,2/1/2016,Steve Ashton,Sur,Bufanda,Vestimenta,12,"33,00"
27,2/1/2016,Sarah Bond,Este,Escoba,Hogar,12,"43,80"
28,3/1/2016,Desmond Delaney,Este,Medias Femeninas,Vestimenta,7,"21,00"
29,3/1/2016,Boris Stanford,Sur,Shorts,Vestimenta,5,"24,50"
30,3/1/2016,Dustin Gee,Oeste,Lejía,Hogar,11,"34,10"
31,3/1/2016,Dustin Gee,Este,Escoba,Hogar,14,"51,10"
32,3/1/2016,Desmond Delaney,Este,Trapo Piso,Hogar,7,"3,92"
33,3/1/2016,Desmond Delaney,Este,Detergente,Hogar,6,"14,88"
34,3/1/2016,Desmond Delaney,Oeste,Medias Femeninas,Vestimenta,6,"18,00"
35,3/1/2016,Dustin Gee,Norte,Medias Femeninas,Vestimenta,6,"18,00"
36,3/1/2016,Boris Stanford,Este,Shorts,Vestimenta,7,"34,30"
37,4/1/2016,Trevor Snodgrass,Sur,Lejía,Hogar,7,"21,70"
38,4/1/2016,Steve Ashton,Oeste,Gorras,Vestimenta,13,"27,30"
39,4/1/2016,Dustin Gee,Sur,Sudadera,Vestimenta,3,"18,00"

## Ver los ultimos registros del dataframe.

Para esto usaremos el metodo tail.

```
nombre_dataframe.tail(n)
```

Al dejarlo vacio igual que anterior, nos muestra las ultimas 5 filas.
### Ejemplos:

In [44]:
tabla.tail()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

In [45]:
tabla.tail(40)

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
420,29/1/2016,Sarah Bond,Este,Gorras,Vestimenta,13,"27,30"
421,29/1/2016,Boris Stanford,Este,Sánguche de Queso,Comestibles,6,"9,60"
422,29/1/2016,Steve Ashton,Sur,Detergente,Hogar,9,"22,32"
423,29/1/2016,Desmond Delaney,Sur,Sandalias,Vestimenta,2,"21,00"
424,29/1/2016,Steve Ashton,Oeste,Caramelos,Comestibles,4,"2,40"
425,29/1/2016,Boris Stanford,Este,Escobillón,Hogar,11,"9,35"
426,29/1/2016,Sarah Bond,Este,Gorras,Vestimenta,7,"14,70"
427,29/1/2016,Sarah Bond,Oeste,Detergente,Hogar,3,"7,44"
428,29/1/2016,Steve Ashton,Norte,Sánguche de Queso,Comestibles,15,"24,00"
429,30/1/2016,Dustin Gee,Oeste,Lejía,Hogar,11,"34,10"
430,30/1/2016,Steve Ashton,Oeste,Bombilla,Hogar,10,"6,00"
431,30/1/2016,Dustin Gee,Este,Medias Femeninas,Vestimenta,7,"21,00"
432,30/1/2016,Dustin Gee,Sur,Lejía,Hogar,12,"37,20"
433,30/1/2016,Boris Stanford,Norte,Soda,Comestibles,6,"3,84"
434,30/1/2016,Trevor Snodgrass,Norte,Calcetines,Vestimenta,7,"15,75"
435,30/1/2016,Dustin Gee,Este,Pepinillo,Comestibles,13,"3,90"
436,30/1/2016,Trevor Snodgrass,Oeste,Sandalias,Vestimenta,10,"105,00"
437,30/1/2016,Trevor Snodgrass,Este,Calcetines,Vestimenta,10,"22,50"
438,30/1/2016,Dustin Gee,Este,Trapo Piso,Hogar,12,"6,72"
439,30/1/2016,Desmond Delaney,Norte,Caramelos,Comestibles,14,"8,40"
440,30/1/2016,Trevor Snodgrass,Este,Gorras,Vestimenta,6,"12,60"
441,30/1/2016,Dustin Gee,Norte,Pan,Comestibles,14,"5,60"
442,31/1/2016,Trevor Snodgrass,Este,Sandalias,Vestimenta,6,"63,00"
443,31/1/2016,Sarah Bond,Sur,Calcetines,Vestimenta,7,"15,75"
444,31/1/2016,Dustin Gee,Oeste,Sánguche de Queso,Comestibles,12,"19,20"
445,31/1/2016,Desmond Delaney,Sur,Escobillón,Hogar,9,"7,65"
446,31/1/2016,Trevor Snodgrass,Oeste,Sudadera,Vestimenta,2,"12,00"
447,31/1/2016,Desmond Delaney,Este,Bombilla,Hogar,8,"4,80"
448,31/1/2016,Steve Ashton,Oeste,Lejía,Hogar,15,"46,50"
449,31/1/2016,Boris Stanford,Este,Sudadera,Vestimenta,6,"36,00"
450,31/1/2016,Boris Stanford,Este,Chocolate,Comestibles,3,"1,44"
451,31/1/2016,Steve Ashton,Norte,Detergente,Hogar,14,"34,72"
452,31/1/2016,Dustin Gee,Oeste,Caramelos,Comestibles,6,"3,60"
453,31/1/2016,Sarah Bond,Norte,Bombilla,Hogar,4,"2,40"
454,31/1/2016,Dustin Gee,Oeste,Limpiavidrios,Hogar,13,"10,40"
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

### Imprimiendo la tabla

In [38]:
tabla

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"
...,...,...,...,...,...,...,...
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

## Domensiones del dataframe.
### Uso de shape.
Con el metodo shape podremos revisar si nuestro dataframe fue cargado correctamente.
```
nombre_dataframe.shape
```

In [39]:
tabla.shape

(460, 7)

Como vemos nos devuelve una tupla donde el primer valor es la cantidad de filas que tiene nuestro dataframe y el segundo valor es la cantidad de columnas.
### Para poder ver solo las filas.
```
nombre_dataframe.shape[0]
```
### Para poder ver solo las columnas.
```
nombre_dataframe.shape[1]
```

In [40]:
tabla.shape[0]

460

In [41]:
tabla.shape[1]

7

### Accediendo a una serie.
* Forma uno: tabla.fecha (Esta forma se puede usar siempre y cuando el nombre de la serie no tenga espacios)
* Forma dos: tala["fecha"] (Funciona siempre)

In [17]:
tabla.Fecha

0       1/1/2016
1       1/1/2016
2       1/1/2016
3       1/1/2016
4       1/1/2016
         ...
455    31/1/2016
456    31/1/2016
457    31/1/2016
458    31/1/2016
459    31/1/2016
Name: Fecha, Length: 460, dtype: object

In [18]:
tabla["Fecha"]

0       1/1/2016
1       1/1/2016
2       1/1/2016
3       1/1/2016
4       1/1/2016
         ...
455    31/1/2016
456    31/1/2016
457    31/1/2016
458    31/1/2016
459    31/1/2016
Name: Fecha, Length: 460, dtype: object

### Lista de datos unidimensionales.
Conjunto de datos.
* nombre_dataframe[['serieuno', 'seriedos']]

In [30]:
tabla[['Vendedor', 'Artículo','Ganancia']]

             Vendedor           Artículo Ganancia
0        Steve Ashton   Medias Femeninas    18,00
1    Trevor Snodgrass          Chocolate     3,84
2          Sarah Bond             Gorras     6,30
3     Desmond Delaney  Sánguche de Queso    14,40
4     Desmond Delaney          Chocolate     6,72
..                ...                ...      ...
455        Sarah Bond            Bufanda    16,50
456        Dustin Gee          Sandalias   115,50
457        Dustin Gee  Sánguche de Queso     6,40
458        Dustin Gee         Escobillón     6,80
459  Trevor Snodgrass          Pepinillo     2,10

[460 rows x 3 columns]

### Revisando los tipos de datos de cada opcion de visualizacion

In [33]:
type(tabla.Vendedor)

pandas.core.series.Series

In [34]:
type(tabla[["Vendedor", "Ganancia"]])

pandas.core.frame.DataFrame